.sidenav{
    width:450px;
    background-color: #f8f9fa;
}

.h5{
    margin-bottom: 0!important;
}

.sidenav .bg-warning{
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,.3), 0px 1px 3px 1px rgba(60,64,67,.15);
}